

<ion-view view-title="Message Details" style=" font-size: x-large;"  class="signup_background" ng-controller="loginHelpCtr">
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">


    </ion-nav-bar>
    <!--<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
    </ion-nav-buttons>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-a "  ui-sref="app.mymessages">
        </button>
    </ion-nav-buttons>

    <ion-content ng-class="{expanded:$scope.isExpanded}">




        <div style="padding:4%;">
        </div>
        <div id="Feedback_paddingdiv">
            <div class="row" id="login_textdiv2">
                <div class="col col-100" id="head_style">message info</div>

            </div>
            <div class="Profile_background">
			
				 
				 
				 <div style="width:100%;display:inline-block;padding:2%;">
				 <div style="width:50%;display:inline-block;float:left;">
				 <h5 style="color:#8EA93F;">Message Type</h5>
				 <h5 style="color:#8EA93F;">Appt Type</h5>
				 <h5 style="color:#8EA93F;">Appt With</h5>
				 <h5 style="color:#8EA93F;">Email</h5>
				 <h5 style="color:#8EA93F;">PhoneNumber</h5>
				 <h5 style="color:#8EA93F;">Date</h5>
				 <h5 style="color:#8EA93F;">Appointment Time</h5>
				 </div>
				 <div style="width:50%;display:inline-block;float:left;">
				 <h5>Recived</h5>
				  <h5>{{Type}}t</h5>
				   <h5>{{Apt_with}}</h5>
				    <h5>{{emailId}}</h5>
					 <h5>{{phoneNumber}}</h5>
					  <h5>{{createDate}}</h5>
					   <h5>{{aptStarttime}}</h5>
				 
				 </div>
				 </div>
			 <label class="item item-input item-stacked-label">
	 <span class="input-label" style="color:#8EA93F;">your messsage</span> 
<div style="padding:2%;"></div> 

	 <textarea placeholder="Enter your message" ng-model="messageText" rows="8" cols="10" style="border:1px solid #999;padding:3%;padding-bottom:3%;" readonly> 
	 </textarea> 
</label>
<div style="padding:2%;"></div> 
                </div>
            
    </ion-content>
    <div class="float-button">
      <span class="height-fix">  
      <button id="fab-profile" ui-sref="app.jobAdd" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane" ng-click="CallTel(16783839973)" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
          <i class="ion-ios-telephone"></i>
          <h5 style="color:white">Call Us</h5>

      </button>
 </span>
    </div>

</ion-view>
